.main-content-tablecell h1 {
	max-width: 100% !important;
}
header .logo2 {
	position: absolute;
	left: 26px;
	top: 0;
	margin-top: 78px;
}

header .logo2 a {
	display: block;
	margin: 0;
	padding: 0;
	outline: 0;
	border: none;
	width: 157px;
	height: 184px;
	background: url("../images/logo.png") no-repeat center;
	background-size: 157px 184px;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#titleMain{
	font-size: 7rem !important;
}